{% extends 'recipes/navbar.html' %} {% block content %}

<div>
  {% if messages %} {% for message in messages %}
  <div class="alert alert-{{ message.tags}}">{{message}}</div>
  {% endfor %} {% endif %}
  <h1>Recipes Home</h1>

  {% if user.is_authenticated %} Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  {% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
  {% endif %}

  <div class="container">
    <div class="row">
      {% for recipe in recipes %}
      <div class="card m-2" style="width: 18rem">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{recipe.title}}</h5>
            <a class="btn btn-primary mt-auto" href="{% url 'recipes-detail' recipe.pk %}"
              >View Recipe</a
            >
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
