{% extends 'registration/base.html' %} {% block content %}
<header>
  <img class="logo" src="" alt="logo" />
  <nav>
    <ul class="nav-links">
      <li><a href="{% url 'recipes-create' %}">add a Recipe</a></li>
      <li><a href="{% url 'recipes-about' %}">About</a></li>
      <li><a href="{% url 'user-profile' %}">Profile</a></li>
    </ul>
  </nav>
  <a href="#" class="cta"><button>Contact</button></a>
</header>

<!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav">
        {% if user.is_authenticated %}
        <a href="{% url 'user-profile' %}">My Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'user-register' %}">Register</a>
        {% endif %}
    </div>
</div> -->
<div>
  {% if messages %} {% for message in messages %}
  <div class="alert alert-{{ message.tags}}">{{message}}</div>
  {% endfor %} {% endif %}
  <h1>Recipes Home</h1>

  {% if user.is_authenticated %} Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  {% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
  {% endif %}

  <div class="item-list">
    {% for recipe in recipes %}
    <div class="card">
      <div class="card-body">
        <div class="card-title"><h3>{{recipe.title}}</h3></div>
        <div class="card-info">
          <ul>
            <li>
              <i><span></span>Minutes</i>
            </li>
            <li>
              <i><span></span>Ingredients</i>
            </li>
            <li>
              <i><span></span>Servings</i>
            </li>
          </ul>
          <small class="">Created on {{recipe.created_at|date:"d F, Y"}}</small>
        </div>
        <div class="">
          <a class="" href="{% url 'recipes-detail' recipe.pk %}"
            >View Recipe</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
