{% extends 'recipes/navbar.html' %}
{% block recipe-detail %}
<h1>Recipe # {{object.id}} </h1>
<p>{{object.updated_at|date:"d F, Y"}}</p>
<div>
    {%if object.author == user or user.is_stagg %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{object.title}}</h5>
            by <p class="card-text">{{object.author}}</p>
            <a href="recipes-update">Update</a>
            <a href="recipes-delete">Delete</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock recipe-detail %}