{% extends 'recipes/navbar.html' %} {% block content %}
<div>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{object.title}}</h5>
      <p class="card-text">created on {{object.created|date:"d F, Y"}}</p>
      <p class="card-text">by {{object.author}}</p>
      {%if object.author == user or user.is_stagg %}
      <a href="{% url 'recipes-update' object.id %}">Update</a>
      <a href="{% url 'recipes-delete' object.id %}">Delete</a>
      {% endif %}
      <h5>Ingredients</h5>
      <div>
        {% for form in formset %}
        {{ form.as_p }}<br><br>
      {% endfor %}
      </div>
      
    </div>
  </div>
</div>
{% endblock content %}
