{% extends 'registration/base.html' %} {% block login %}
<div class="login-body">
  {% if form.errors %} {% for field in form %} {% for error in field.errors %}
  <div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
  </div>
  {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
  <div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
  </div>
  {% endfor %} {% endif %}
  <form method="post" class="form-center">
    {% csrf_token %}
    <div class="input-container">
      <input
        type="text"
        class="input-field"
        name="username"
        id="username"
        required
        aria-describedby="emailHelp"
        placeholder="Username"
      />
      <i class='bx bx-user'></i>
    </div>
    <div class="input-container">
      <!-- <label class="form-label" for="password">Password</label> -->
      <input
        type="password"
        class="input-field"
        name="password"
        id="password"
        required
        placeholder="Password"
      />
      <i class='bx bx-lock-alt'></i>
    </div>
    <!-- <div class="form-check">
      <input
        type="checkbox"
        type="password"
        class="form-control"
        name="password"
        id="checkbox"
      />
      <label class="form-label" for="checkbox">Remember me</label>
    </div> -->
    <button class="btn btn-primary" type="submit">LOGIN</button>
    <div class="login-register">
      Don't have an account?
      <a href="{% url 'user-signup' %}">Register here!</a>
    </div>
  </form>
  Image by <a href="https://pixabay.com/users/lukasbieri-4664461/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2378758">Lukas Bieri</a> from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2378758">Pixabay</a>
</div>
{% endblock login %}
