{% extends 'registration/base.html' %} 
{% load static %} 
{% block password-reset %}
<section>
  <div class="p-5 bg-image">
    <img
      src="{% static 'recipes/img/dough-g3fdba02a3_1920.jpg' %}"
      alt="My image"
    />
  </div>
  <div class="container">
    <form method="POST" class="form-center">
      <h1>Forgot your password?</h1>
      <p>
        Enter your email address below, and we'll email instructions for setting
        a new one.
      </p>
      {% csrf_token %}
      <div class="form-group mb-4">
        <label class="form-label" for="typeEmail">Email input:</label>
        <input type="email" id="typeEmail" class="form-control my-3" />
      </div>
      <a href="#" class="btn btn-primary w-100">Reset password</a>
    </form>
  </div>
</section>

{% endblock %}
