{% extends 'registration/base.html' %} {% load crispy_forms_tags %} 
{% block signup %}
<div class="container">
  <form method="POST" class="form-signin">
    {% csrf_token %}
    <div class="form-group mb-4">
      <fieldset>
        <legend>Sign Up!!</legend>
        {{ form|crispy }}
      </fieldset>
      <button class="btn btn-primary" type="submit">Sign Up</button>
    </div>
    <div>
      <a href="{% url 'login' %}">Already have an account? Log in here</a>
    </div>
  </form>
</div>
{% endblock signup %}
