/* .form-center {
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 450px;
    height: 430px;
    border-radius: 15px;
    box-shadow: 5px 10px 8px #000;
}

.form-box .header-text {
	font-size: 32px;
	font-weight: 600;
	padding-bottom: 30px;
	text-align: center;
    color: #fff;
}

.login-body {
    background-image: url('/static/users/img/mediterranean-cuisine-2378758_1920.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: center;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.login-register {
    color: #fff;
}

.input-field {
    border-radius: 30px;
    border: none;
    outline: none;
    height: 45px;
    margin: 0 0 40px 45px;
    padding: 0 0 0 15px;
}

.form-box i {
    position: relative;
    right: 50px;
    top: 5px;
}

.form-box .submit {
    border: none;
    outline: none;
    border-radius: 10px;
    height: 45px;
    width: 30%;
    font-size: 15px;
    cursor: pointer;
}